### IntelliJ IDEA ###
**/.idea/
**/*.iml

### Maven ###
**/target/
/app/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

### Logs ###
**/logs/
*.log

### Testes ###
**/test-output/
**/surefire-reports/
**/jacoco.exec
**/coverage/
**/*.class
**/*.ser

### Outros ###
**/out/
**/database/

### temporary ###
_others/